body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-imagem {
    background-color: #ccc;
    padding: 20px;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: relative;
    overflow: initial;
}

#drag_me {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
}

#drag_me i {
    font-size: 3rem;
}

.teste-drag {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
}

.teste-drag i {
    font-size: 3rem;
}